main
  .content
    .projects.card.active
      projects
    .details.card(class='{ active(details, true) }')
      project-details
    .technician.card(class='{ active(viewTech, true) }')
      technician

  script.
    @details  = false
    @viewTech = false

    @active = (test, value) ->
      if test is value
        'active'
      else
        ''

    self = this

    r = riot.route.create!

    r '/work-order/*' ->
      self.update {
        -viewTech
        +details
      }

    r '/technician/*' ->
      self.update {
        +viewTech
      }

    r ->
      self.update {
        -details
        -viewTech
      }
