main
  .content
    .projects.card(class='{ active(details, false) }')
      projects
    .details.card(class='{ active(details, true) }')
      project-details

  script.
    @details = false

    @active = (test, value) ->
      if test is value
        'active'
      else
        ''

    self = this

    r = riot.route.create!

    r '/work-order/*' ->
      self.update {
        +details
      }

    r ->
      self.update {
        -details
      }
