project-details
  h3 { project.description }
  .pileup
    .block
      h4 Customer
      p { project.customercontactname }
    .block
      h4 Location
      p
      | { location! }

  technician-list

  script.
    @reset = ->
      riot.route '/'

    self = this

    @location = ->
      location-parts = [
        self.project.customerlocationcity
        self.project.customerlocationcountry
        self.project.customerlocationpostalcode
      ].filter (loc-part) ->
        loc-part.to-string! is not '[object Object]'

      if location-parts.length > 1
        location-parts.join ', '
      else
        location-parts.0

    r = riot.route.create!

    r '/work-order/*' (order) ->
      self.update {
        project: app.projects[order]
      }

      app.on \update ->
        self.update {
          project: app.projects[order]
        }

      if not self.project
        self.reset!
