project-details
  h3 { project.description }
  .pileup
    .block
      h4 Customer
      p { project.customercontactname }
    .block
      h4 Location
      p
      | { project.customerlocationcity },
      | { project.customerlocationcountry },
      | { project.customerlocationpostalcode }

  technician-list

  script.
    @reset = ->
      riot.route '/'

    self = this

    r = riot.route.create!

    r '/work-order/*' (order) ->
      self.update {
        project: app.projects[order]
      }

      app.on \update ->
        self.update {
          project: app.projects[order]
        }

      if not self.project
        self.reset!
