technicians
  h4 Assigned Technicians
  ul
    li(each='{ assigned }')
      span Fucker
      span
      button Remove
  h4 Available Technicians (Top 5 Closest)
  ul
    li(each='{ available }')
      span Fucker
      span 5 miles away
      button Assign

  script.
    @assigned = [ 0 ]
    @available = [ 0 ]
