@import 'includes/fonts'

html, body
  height 100%
  margin 0

body
  background #fafafa
  font-family 'Helvetica Neue', Helvetica, sans-serif
  color #333
  display inline-table
  width 100%
  padding-bottom 50px

h1, h2, h3, h4, h5, h6

h3
  font-style italic
  font-weight lighter

.main
  display table-cell
  vertical-align middle

  projects
    max-width 800px
    margin 0 auto
    display block
